.internet{
	width:30%;
	margin-left:5%;

}
.text {
	display: inline-block;
	width:600px;
	vertical-align: middle;
	width: 65%;
	margin-left: 5%;
	box-sizing:border-box; 

}

.web{
	width:30%;
	padding-left: 5%;
	background-color: #F0FFF0;
	
}


}
article {
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
	width: 96%;
}
@media only screen and (max-width : 600px){
	.internet,.web,.text {
		width:96%;
		padding-left: 0px;
	
	}
}